<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>P贸lizas</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>P贸lizas</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Lista de Datos de P贸liza Individual AP</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>P贸liza</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-group list-group-flush" id="list-ap-policy1"></ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-group list-group-flush" id="list-ap-policy2"></ul>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5>Recibo</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-group list-group-flush" id="list-ap-receipt1"></ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-group list-group-flush" id="list-ap-receipt2"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-offset-2">
                    <div class="card-body d-flex">
                        <button class="btn btn-primary btn-sm ml-auto" id="btn_ap_list" onclick="location.href='/sistema'">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Se incluye el layout del footer -->
<%- include('layouts/footerWizardForm') %>