<!DOCTYPE html>
<html>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.8/forgot_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Aug 2018 01:32:31 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Olvidó su contraseña</title>

    <link rel="shortcut icon" href="/img/ISOTIPO_V1_ATINA.ico" type="image/x-icon">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="white-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Olvidó su contraseña</h2>

                    <p>
                        Introduzca su dirección de correo electrónico y su contraseña se restablecerá y se le enviará por correo electrónico
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="">
                                <div class="form-group">
                                    <input 
                                        type="email" 
                                        class="form-control"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                                        placeholder="Correo Electrónico" 
                                        required
                                    >
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Enviar nueva contraseña</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div>
                
            </div>  
        </div>
    </div>

</body>

</html>
