<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Reportes</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Reportes</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Siniestralidad Póliza</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox">
                            <div class="form-control">
                                <div class="form-group row"><label class="col-sm-3 col-form-label">Cédula/Rif</label>
                                    <div class="col-sm-9">
                                        <input 
                                            type="text"
                                            name="id_rif_asegurado"
                                            id="id_rif_asegurado"
                                            onkeyup="pasarAsegurado();"
                                            placeholder="Cédula/Rif del Asegurado *" 
                                            class="form-control cedula_rif"
                                            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase().replace(/\s+/g, '');this.setSelectionRange(p, p);"
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox">
                            <div class="form-control">
                                <div class="form-group row"><label class="col-sm-3 col-form-label">Siniestro</label>
                                    <div class="col-sm-9">
                                        <input 
                                            type="text"
                                            name="gasto_siniestro_incurrido"
                                            id="gasto_siniestro_incurrido" 
                                            placeholder="Gastos de siniestros incurridos *"
                                            onkeyup="pasarAsegurado();"
                                            class="form-control number_format"
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group row"><label class="col-sm-2 col-form-label">Porcentaje de Siniestralidad</label>
                        <div class="col-sm-10">
                            <input 
                                type="text"
                                name="porcentaje_siniestralidad"
                                id="porcentaje_siniestralidad" 
                                class="form-control number_format"
                                required
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</br>
</br>
</br>
<div class="footer">
    
</div>
</div>
</div>

<!-- Mainly scripts -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/js/plugins/flot/jquery.flot.js"></script>
<script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/inspinia.js"></script>
<script src="/js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="/js/plugins/gritter/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="/js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="/js/plugins/chartJs/Chart.min.js"></script>

<!-- Toastr -->
<script src="/js/plugins/toastr/toastr.min.js"></script>

<!-- DataTables -->
<script src="/js/plugins/dataTables/datatables.min.js"></script>
<script src="/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Page-Level Scripts -->
<script>
    var insureds = <%- JSON.stringify(resultPolicyClaims) %>;
    function pasarAsegurado() {
        var idRif = document.getElementById("id_rif_asegurado").value;
        var incurredClaimAmount = document.getElementById("gasto_siniestro_incurrido").value
        for (var i = 0; i < insureds.length; i++) {
            var elementInsured = insureds[i];
            var lossRatio = 0;
            if (idRif === elementInsured.insured) {
                if (incurredClaimAmount === '') {
                    lossRatio = elementInsured.totalPremium / 1;
                } else {
                    if ((incurredClaimAmount.indexOf(',') !== -1) && (incurredClaimAmount.indexOf('.') !== -1)) {
                        incurredClaimAmount = incurredClaimAmount.replace(",", ".");
                        incurredClaimAmount = incurredClaimAmount.replace(".", ",");
                        incurredClaimAmount = parseFloat(incurredClaimAmount.replace(/,/g,''));
                    } else if (incurredClaimAmount.indexOf(',') !== -1) {
                        incurredClaimAmount = incurredClaimAmount.replace(",", ".");
                        incurredClaimAmount = parseFloat(incurredClaimAmount);
                    } else if (incurredClaimAmount.indexOf('.') !== -1) {
                        incurredClaimAmount = incurredClaimAmount.replace(".", ",");
                        incurredClaimAmount = parseFloat(incurredClaimAmount.replace(/,/g,''));
                    }
                    lossRatio = elementInsured.totalPremium / incurredClaimAmount;
                }
                lossRatio = lossRatio.toFixed(2);
                lossRatio = lossRatio.toString().replace('.', ',').replace(/(\d)(?=(\d{3})+(?!\d))/g,'$1.');
                document.getElementById("porcentaje_siniestralidad").value = lossRatio;
            } else if (idRif === '') {
                document.getElementById("porcentaje_siniestralidad").value = '';
            }
        }
    }
</script>

<script>
    var separador = document.getElementsByClassName('number_format');
    for (var i = 0 ; i < separador.length; i++) {
        separador[i].addEventListener('input', (e) => {
            var entrada = e.target.value.split(','),
            parteEntera = entrada[0].replace(/\./g, ''),
            parteDecimal = entrada[1],
            salida = parteEntera.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
            e.target.value = salida + (parteDecimal !== undefined ? ',' + parteDecimal.replace(/([0-9])([0-9]{2})$/,'') : '');
        }, false); 
    } 
</script>

<script>
    var separador = document.getElementsByClassName('cedula_rif');
    for (var i = 0 ; i < separador.length; i++) {
        separador[i].addEventListener('input', (e) => {
            var entrada = e.target.value.split(',');
            var parteEntera = entrada[0].replace(/\./g, '');
            var salida = parteEntera.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
            if ((salida.charAt(0) === 'J') || (salida.charAt(0) === 'G') || (salida.charAt(0) === 'V')) {
                var parteRif = entrada[0];
                e.target.value = parteRif;
            } else {
                e.target.value = salida;
            }
        }, false); 
    }
</script>

</body>

</html>