<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Gestión de Usuarios</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Gestión de Usuarios</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Agregar Usuario</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <form method="POST" action="/sistema/user-management">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Cédula/Rif</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="id_rif"
                                                id="id_rif"
                                                placeholder="Cédula/Rif *" 
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Usuario</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="username"
                                                id="username" 
                                                placeholder="Usuario" 
                                                class="form-control"
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Clave</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="password"
                                                name="password_usuario"
                                                id="password_usuario"
                                                placeholder="Clave *"
                                                class="form-control" 
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="email"
                                                name="email_usuario"
                                                id="email_usuario" 
                                                placeholder="Email *" 
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Dirección</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="direccion_usuario"
                                                id="direccion_usuario"
                                                placeholder="Dirección Fiscal"
                                                class="form-control" 
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="nombre_usuario"
                                                id="nombre_usuario"
                                                placeholder="Nombre y Apellido *" 
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Rol</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="rol">
                                                <option selected value="0">Seleccione *</option>
                                                <% roles.forEach((rol) => { %>
                                                    <option value="<%= rol.nombre_rol %>"><%= rol.nombre_rol %></option> 
                                                <% }); %> 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Confirmar</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="password"
                                                name="password_confirm"
                                                id="password_confirm"
                                                placeholder="Confirme Clave *"
                                                class="form-control"
                                                required 
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Teléfono</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="telefono_usuario"
                                                id="telefono_usuario" 
                                                placeholder="Teléfono" 
                                                class="form-control"
                                            >
                                        </div>
                                    </div>
                                    </br>
                                    </br>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="hidden" 
                                                placeholder="" 
                                                class="form-control"
                                                disabled
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Cargo</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="cargo_usuario"
                                                id="cargo_usuario"
                                                placeholder="Cargo"
                                                class="form-control" 
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Productor</label>
                                        <div class="col-sm-9">
                                            <div><label> <input type="checkbox" name="productor"> ¿Usuario es Productor?</label></div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Admin</label>
                                        <div class="col-sm-9">
                                            <div><label> <input type="checkbox" name="admin"> ¿Usuario es Administrador?</label></div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Linea de Negocio</label>
                                        <div class="col-sm-9">
                                            <div><label> <input type="checkbox" name="negocio" value="Auto"> Auto</label></div>
                                            <div><label> <input type="checkbox" name="negocio" value="Patrimonial"> Patrimonial</label></div>
                                            <div><label> <input type="checkbox" name="negocio" value="Persona"> Persona</label></div>
                                        </div>
                                    </div>
                                    </br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white btn-sm" type="submit">Cancelar</button>
                            <button class="btn btn-primary btn-sm" type="submit">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Se incluye el layout del footer -->
<%- include('layouts/footer') %>