<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ATINA | Dashboard</title>

    <link rel="shortcut icon" href="/img/ISOTIPO_V1_ATINA.ico" type="image/x-icon">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- DataTables style -->
    <link href="/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <!-- Wizard Form style -->
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet">

    <!-- Chartist -->
    <link href="css/plugins/chartist/chartist.min.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="logo-element-img" src="/img/ISOTIPO_VBLANCO_ATINA.png"/>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold"><%= name %></span>
                            </a>
                        </div>
                        <div class="logo-element">
                            <img alt="image" class="logo-element-img" src="/img/ISOTIPO_VBLANCO_ATINA.png"/>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Datos</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/sistema/add-insurer">Agregar Aseguradora</a></li>
                            <li><a href="/sistema/insurers">Consultar Aseguradoras</a></li>
                            <li><a href="/sistema/add-own-agent">Agregar Agente Propio</a></li>
                            <li><a href="/sistema/own-agents">Consultar Agentes Propios</a></li>
                            <li><a href="/sistema/add-executive">Agregar Ejecutivo</a></li>
                            <li><a href="/sistema/executives">Consultar Ejecutivos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Asegurados</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="#">Agregar Asegurado<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="/sistema/add-natural-insured">Persona Natural</a></li>
                                    <li><a href="/sistema/add-legal-insured">Persona Juridica</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Consultar Asegurados<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="/sistema/natural-insureds">Persona Natural</a></li>
                                    <li><a href="/sistema/legal-insureds">Persona Juridica</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-window-restore"></i> <span class="nav-label">Pólizas</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="#">Agregar Póliza<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="/sistema/add-health-policy">Salud</a></li>
                                    <li><a href="/sistema/add-vehicle-policy">Vehículo</a></li>
                                    <li><a href="/sistema/add-patrimonial-policy">Patrimonial</a></li>
                                    <li><a href="/sistema/add-bail-policy">Fianza</a></li>
                                    <li><a href="/sistema/add-another-branch-policy">Otros Ramos</a></li>
                                    <li><a href="/sistema/add-funeral-policy">Funerario</a></li>
                                    <li><a href="/sistema/add-life-policy">Vida</a></li>
                                    <li><a href="/sistema/add-ap-policy">AP</a></li>
                                    <li><a href="/sistema/add-travel-policy">Viaje</a></li>
                                </ul>
                            </li>
                            <li><a href="/sistema/policies">Consultar Pólizas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-group"></i> <span class="nav-label">Colectivo</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="#">Agregar Colectivo<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="/sistema/add-health-collective">Salud</a></li>
                                    <li><a href="/sistema/add-vehicle-collective">Vehículo</a></li>
                                    <li><a href="/sistema/add-risk-diverse-collective">Riesgos Diversos</a></li>
                                </ul>
                            </li>
                            <li><a href="/sistema/collectives">Consultar Colectivos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> <span class="nav-label">Reclamos</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/sistema/add-refund">Agregar Reembolsos</a></li>
                            <li><a href="/sistema/refunds">Consultar Reembolsos</a></li>
                            <li><a href="/sistema/add-letter-guarantee">Agregar Cartas Avales</a></li>
                            <li><a href="/sistema/letters-guarentee">Consultar Cartas Avales</a></li>
                            <li><a href="/sistema/add-emergency">Agregar Emergencias</a></li>
                            <li><a href="/sistema/emergencies">Consultar Emergencias</a></li>
                            <li><a href="/sistema/add-amp">Agregar AMP</a></li>
                            <li><a href="/sistema/amp">Consultar AMP</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-clipboard"></i> <span class="nav-label">Reportes</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/sistema/premiums-collected">Primas Cobradas</a></li>
                            <li><a href="/sistema/commissions-collected">Comisiones Cobradas</a></li>
                            <li><a href="/sistema/policy-claims">Siniestralidad Poliza</a></li>
                            <li><a href="/sistema/global-loss-ratio">Siniestralidad Global</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user-circle-o"></i> <span class="nav-label">Gestión de Usuarios</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/sistema/user-management">Agregar Usuario</a></li>
                            <li><a href="/sistema/users">Consultar Usuarios</a></li>
                            <li><a href="/sistema/add-rol">Agregar Rol</a></li>
                            <li><a href="/sistema/roles">Consultar Roles</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="white-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-menu" href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li style="padding: 20px">
                    <span class="m-r-sm text-muted welcome-message">Bienvenido al sistema</span>
                </li>
                <li>
                    <a href="/sistema/logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav>
    </div>